
header{
  background: var(--couleur-noir);

  width: 100%;
  position: fixed;
  z-index: 3;
}
 .header-principal h1{
   color: var(--couleur-blanc);

  margin: 0;
  padding: 15px 0;

  font-family: var(--font-secondaire);
  font-size: 2.25rem;
  line-height: 43px;


}