.interet{
  text-align: center;
  background: url("../images/bg-interet.jpg") fixed;

h3{
  color: var(--couleur-noir);

  text-transform: uppercase;
  margin: 0;
  padding: 60px 0 0;
  font-weight: bold;
  font-size: 40px;
  line-height: 2.5rem;



}

}