:root{
  --font-primaire: 'Cardo', serif;
  --font-secondaire:'Bungee Shade', cursive;
}


:root{
  --couleur-noir: #000;
  --couleur-blanc: #fff;

  --degrade-principale: linear-gradient(36deg, rgba(167,2,154,0.7) 0%, rgba(167,2,154,0) 100%)
}